<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Responsive + Encoding Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet -->
    <link href="styles.css" rel="stylesheet">
    <!-- Title -->
    <title>Search - Torre API</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>
    <div id="tabs" class="container">

        <div class="tabs">
            <a v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'active' : '' ]">People</a>
            <a v-on:click="activetab=2" v-bind:class="[ activetab === 2 ? 'active' : '' ]">Opportunities</a>
        </div>

        <div class="content">
            <div v-if="activetab === 1" class="tabcontent">
                <div id="search-container">
                    <div class="search-div">
                        <div class="search-codition">
                            <input type="checkbox" id="aggregate-checkbox" v-model="aggregate">
                            <label class="condition-label" for="aggregateCheckbox">Aggregate</label>
                        </div>
                        <div class="search-codition">
                            <label class="condition-label" for="size-condition">Size</label>
                            <input class="search-input" type="number" id="size-condition" min="0" v-model="size">
                        </div>
                        <div class="search-codition">
                            <label class="condition-label" for="Offset-condition">Offset</label>
                            <input class="search-input" type="number" id="Offset-condition" min="0" v-model="offset">
                        </div>
                    </div>
                    <div class="search-div">
                        <button type="button" id="search-btn" @click="searchTorrePeople">Search People</button>
                    </div>
                </div>
                <div id="result-container" v-if="results.length > 0">
                    <div class="result" v-for="(result,index) in results" :key="index">
                        <img :src="result.image" class="prop-img">
                    </div>
                </div>
            </div>

            <div v-if="activetab === 2" class="tabcontent">
                <div id="search-container">
                    <div class="search-div">
                        <div class="search-codition">
                            <input type="checkbox" id="aggregate-checkbox" v-model="aggregate">
                            <label class="condition-label" for="aggregateCheckbox">Aggregate</label>
                        </div>
                        <div class="search-codition">
                            <label class="condition-label" for="size-condition">Size</label>
                            <input class="search-input" type="number" id="size-condition" min="0" v-model="size">
                        </div>
                        <div class="search-codition">
                            <label class="condition-label" for="Offset-condition">Offset</label>
                            <input class="search-input" type="number" id="Offset-condition" min="0" v-model="offset">
                        </div>
                    </div>
                    <div class="search-div">
                        <button type="button" id="search-btn" @click="searchTorreOpportunities">Search
                            Opportunities</button>
                    </div>
                </div>
                <div id="result-container" v-if="results.length > 0">
                    <div class="result" v-for="(result,index) in results" :key="index">
                        <img :src="result.image" class="prop-img">
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>

<!-- Vue and Custom JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="scripts.js"></script>

</html>